<robot name="articulacion_rotacional_2222"A>

    <link name="main">
        <inertial>
            <origin xyz="0 0.0061 0"/>
            <mass value="0.0591"/>
            <inertia ixx="0.0000148883" ixy="0" ixz="0" iyy="0.000005682" iyz="0" izz="0.0000173575"/>
        </inertial>

        <visual>
            <geometry>
                <mesh filename="package://modelos/DAE/articulacion_rotacional_2222.DAE"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="package://modelos/DAE/articulacion_rotacional_2222.DAE"/>
            </geometry>
        </collision>
    </link>

</robot>