<robot name="casco">

    <link name="main">
        <inertial>
            <origin xyz="-0.04495 0.0446. 0" rpy="0 0 0"/>
            <mass value="0.04589"/>
            <inertia ixx="0.0005022235" ixy="-0.0000353245" ixz="-1.6E-10" iyy="0.0004930715" iyz="4.E-11" izz="0.000432968"/>
        </inertial>

        <visual>
            <geometry>
                <mesh filename="package://modelos/DAE/casco.DAE"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="package://modelos/DAE/casco.DAE"/>
            </geometry>
        </collision>
    </link>

</robot>