<robot name="challenge">

    <link name="main">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.001162527"/>
            <inertia ixx="8.4846534E-8" ixy="0" ixz="0" iyy="4.4880466E-8" iyz="0" izz="4.4880466E-8"/>
        </inertial>

        <visual>
            <geometry>
                <mesh filename="package://modelos/DAE/challenge.DAE"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="package://modelos/DAE/challenge.DAE"/>
            </geometry>
        </collision>
    </link>

</robot>