<robot name="hueso_superior">

    <link name="main">
        <inertial>
            <origin xyz="0 0 0.0425"/>
            <mass value="0.02388"/>
            <inertia ixx="0.0000575833" ixy="0" ixz="0" iyy="0.0000575833" iyz="0" izz="1.4626E-7"/>
        </inertial>

        <visual>
            <geometry>
                <mesh filename="package://modelos/DAE/hueso_superior.DAE"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="package://modelos/DAE/hueso_superior.DAE"/>
            </geometry>
        </collision>
    </link>

</robot>